*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin: 4em 1em 1em;
  padding: 0;
  font: 16px/1.5 "Open Sans", sans-serif; }
  body:after {
    content: " ";
    display: block;
    clear: both; }

section {
  margin: 2em 0; }

p {
  font-weight: 400;
  font-size: 1em;
  color: #575959; }

h1, h2, h3, h3, h5, h6 {
  color: #111111; }

a {
  color: #423BAB; }
  a:hover {
    text-decoration: underline; }

.hidden {
  text-indent: -9999px;
  display: inline-block;
  position: absolute; }

.disabled {
  text-decoration: line-through !important;
  cursor: not-allowed; }

.main-nav {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 0;
  left: 1em;
  right: 1em;
  padding: 1em 0;
  background-color: #fff;
  z-index: 900; }
  .main-nav:after {
    content: " ";
    display: block;
    clear: both; }

.main-nav__title {
  position: relative;
  padding-left: 2.5%;
  margin: 0 0 0 24px;
  float: left;
  font-size: 1em;
  font-weight: 600; }
  .main-nav__title a {
    color: #111111;
    text-decoration: none; }
  .main-nav__title .logo {
    position: absolute;
    left: -24px; }

.main-nav__icon {
  float: right; }

#open-menu {
  position: fixed;
  right: -100%;
  top: 0;
  bottom: 0;
  z-index: 1000;
  width: 180px;
  margin: 0;
  padding: 0;
  background-color: #423BAB;
  list-style: none;
  transition: right 0.2s; }
  #open-menu li {
    padding: .8em 1em; }
  #open-menu a {
    text-decoration: none;
    color: #fff; }
  #open-menu:target {
    right: 0; }

.close-menu {
  float: right;
  font-weight: 300;
  font-size: 1.3em; }

.button {
  padding: 1em 2em;
  margin: 0 auto;
  display: block;
  max-width: 300px;
  color: #fff;
  font-weight: 300;
  font-size: 1em;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 3px;
  background-color: #423BAB; }
  .button.button--smaller {
    padding: .5em 1em;
    font-size: .9em; }
  .button:hover {
    background-color: #433cc0;
    cursor: pointer; }

.add-button {
  margin-right: 3em;
  text-decoration: none;
  color: #575959;
  font-size: 1em; }
  .add-button:before {
    content: '+';
    display: inline-block;
    padding: .3em;
    margin-right: .3em;
    color: #fff;
    font-size: 1em;
    font-weight: 300;
    line-height: .9;
    border-radius: 3px;
    background-color: #423BAB; }
  .add-button.disabled:before {
    background-color: #575959 !important; }
  .add-button:hover {
    text-decoration: underline; }
    .add-button:hover:before {
      background-color: #433cc0; }

svg {
  fill: #423BAB; }
  svg.nav {
    stroke-width: 1px;
    fill: none;
    stroke: #423BAB; }

.section__infos {
  font-style: italic;
  font-size: .9em; }

.section__title {
  text-transform: uppercase;
  font-weight: 600; }
  .section__title.section__content--smaller {
    font-size: 1.2em;
    margin-bottom: 0; }

.section__content {
  font-size: .875em; }

.form {
  max-width: 350px;
  margin: 0 auto 1em; }

label {
  margin: 1em 0 .3em;
  display: block;
  color: #575959;
  font-size: .9em; }
  label.hasError {
    color: #AD0000 !important; }

.form__input {
  width: 68%;
  padding: .3em 0 .3em .3em;
  display: inline-block;
  margin: 0;
  font-size: .9em;
  color: #575959;
  border-top: 1px solid #575959;
  border-left: 1px solid #575959;
  border-bottom: 1px solid #575959;
  border-right: none; }
  .form__input.form__input--full {
    display: block;
    width: 100%;
    border-right: 1px solid #575959; }
  .form__input.hasError {
    border-color: #AD0000; }

.form__submit {
  width: 30%;
  color: #fff;
  border: none; }

select {
  width: 65%;
  border: 1px solid #575959; }

.alert {
  z-index: 2000;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  max-width: 300px;
  padding: 1em;
  color: #fff;
  transition: right 0.2s;
  border-radius: 3px; }
  .alert.alert-error {
    text-decoration: none;
    background-color: #AD0000; }
  .alert.alert-success {
    text-decoration: none;
    background-color: #1B6542; }

#add-project-section, #add-task-section {
  position: absolute;
  left: -400%;
  transition: left 0.2s; }
  #add-project-section:target, #add-task-section:target {
    position: relative;
    left: 0; }
