.alert
  padding: .5em 1em
  z-index: 1000
  position: fixed
  top: 0
  display: inline-block
  overflow: hidden
  @extend .animated
  @extend .fadeInDown
  @extend .fadeOutUp

  color: $white

  border-radius: $border-radius
  transition: all $duration

  &.alert-error
    text-decoration: none

    background-color: $red

  &.alert-success
    text-decoration: none

    background-color: $green