.buttons-container
  margin-bottom: 1em

.button
  padding: 1em 2em
  margin: 0 auto
  display: block
  max-width: 300px

  color: $white
  font-weight: 300
  font-size: 1em
  text-decoration: none
  text-align: center
  
  border: none
  border-radius: $border-radius
  background-color: $main-blue-color

  &.button--smaller
    padding: .5em 1em

    font-size: .9em

  &:hover
    background-color: $main-blue-color-lighter
    cursor: pointer

.button-wrapper
  position: relative
  display: inline-block

  &:hover
    .add-button__content
      display: inline-block

  .add-button__content
    display: none
    position: absolute
    padding: .5em 1em
    top: calc( 100% + 5px )
    right: 1em
    left: -100%

    background-color: $white
    border: 1px solid $main-blue-color
    border-radius: $border-radius

    &:before
      content: ''
      position: absolute
      width: 0
      height: 0
      top: -10px
      right: 10px

      border-style: solid
      border-width: 0 5px 10px 5px
      border-color: transparent transparent $main-blue-color transparent


.add-button
  margin-right: 1.2em

  text-decoration: none
  color: $grey
  font-size: 1em

  &:before
    content: '+'
    display: inline-block
    padding: .3em
    margin-right: .3em

    color: $white
    font-size: 1em
    font-weight: 300
    line-height: .9

    border-radius: $border-radius
    background-color: $main-blue-color

  &.disabled:before
    background-color: $grey !important

  &:hover
    text-decoration: underline

    &:before
      background-color: $main-blue-color-lighter
